<!doctype html>
<!--
            ◢＼　 ☆　　 ／◣
    　  　∕　　﹨　╰╮∕　　﹨
    　  　▏　　～～′′～～ 　｜
    　　  ﹨／　　　　　　 　＼∕
    　 　 ∕ 　　●　　　 ●　＼
      ＝＝　○　∴·╰╯　∴　○　＝＝
    　    ╭──╮　　　　　╭──╮
  ╔═∪∪∪═kasihappy's=cat═∪∪∪═╗
-->
<html lang="zh-CN">

<button id='inner' onclick="window.location.href='inner.html'">go to innerHtml</button><br><br>
<button id='jump' onclick="window.location.href='jump.html'">go to jumpHtml</button><br><br>
<button id='eval' onclick="window.location.href='eval.html'">go to evalHtml</button><br><br>
</html>